@font-face {
	font-family: "Pixeloid Sans";
	src: local("Pixeloid Sans"), url("/font/PixeloidSans.ttf");
	font-display: swap;
}
@font-face {
	font-family: "Pixeloid Sans";
	font-weight: bold;
	src: local("Pixeloid Sans Bold"), url("/font/PixeloidSans-Bold.ttf");
	font-display: swap;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	position: relative;
}

#app {
	min-height: 100vh;
}

body {
	min-height: 100vh;
	font-family: "Pixeloid Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	font-size: 18px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	image-rendering: pixelated;
	display: flex;
	flex-direction: column;
	background-color: black;
}

main > .title-box {
	overflow-x: hidden;
}